

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

.group {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  margin-bottom: 20px;
}


img {
  width: 100%;
  margin-bottom: 10px;
}

@media all and (min-width: 1000px) {
  .group {
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    width: 1200px;
    margin: 0 auto;
  }

  .item {
      flex: 1;
      margin: 10px;
    }
  
  .item-double {
      flex: 2;
      margin: 10px;
    }
  }